{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <h1>User Profile</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>

    <h2>Collection</h2>
    <ul>
        {% for item in collection %}
            <li>{{ item.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
