{% extends 'base.html.twig' %}

{% block title %}Edit Favlist
{% endblock %}

{% block body %}
	<h1>Edit Favlist</h1>

	{{ include('favlist/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_profile') }}">back to Profile</a>

	{{ include('favlist/_delete_form.html.twig') }}
{% endblock %}
